.box1{
    background-color: #013A20;
    height: 120px;
}
.box2{
    background-color: #013A20;
    height: 60px;
}
.txtfooter{
    color: white;
}
.icones{
    color: white;
    font-size: 60px !important;
}